{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block main %}
	<div class="page">
	 	<section class="shopping-cart dark">
	 		<div class="container">
		        <div class="block-heading">
                    <h2>Panier</h2>
                    <p>
                        {% if nbproducts == 1 %}
                            ( {{ nbproducts }} produit dans votre panier)
                        {% else %}
                            ( {{ nbproducts }} produits dans votre panier)
                        {% endif %}
                    </p>
		        </div>
		        <div class="content">
	 				<div class="row">
	 					<div class="col-md-12 col-lg-8">
	 						<div class="items">
				 				{% for item in cart %}
				 				<div class="product">
				 					<div class="row">
					 					<div class="col-md-3">
					 						<img class="img-fluid mx-auto d-block image" src="{{asset('images/products/' ~ item.product.image)}}" alt="{{ item.product.name }}">
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row align-items-center">
							 						<div class="col-md-5 product-name">
							 							<div class="product-name">
								 							<a href="#">{{ item.product.name }}</a>
								 							<div class="product-info">
									 							<div> <span class="value"></span></div>
									 							<div> <span class="value"></span></div>
									 							<div> <span class="value"></span></div>
									 						</div>
									 					</div>
							 						</div>                                                    
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantité:</label>
                                                        <input id="quantity" type="number" value ="{{ item.quantity }}" class="form-control quantity-input">
                                                    </div>                                                    
                                                    <div class="col-md-3 price">
                                                        <span>{{ (item.product.price / 100)|number_format(2, ',', ' ') }} €</span>
                                                    </div>                                                    
							 					</div>
							 				</div>
					 					</div>
					 				</div>
				 				</div>
                                {% endfor %}
				 			</div>
			 			</div>
			 			<div class="col-md-12 col-lg-4">
			 				<div class="summary">
			 					<h3>Summary</h3>
			 					<div class="summary-item"><span class="text">Sous-total</span><span class="price">{{ (total / 100)|number_format(2, ',', ' ') }} €</span></div>
			 					<div class="summary-item"><span class="text">Discount</span><span class="price">0 €</span></div>
			 					<div class="summary-item"><span class="text">Livraison</span><span class="price">0 €</span></div>
			 					<div class="summary-item"><span class="text">Total</span><span class="price">{{ (total / 100)|number_format(2, ',', ' ') }} €</span></div>
			 					<a class="btn btn-primary btn-lg btn-block">Valider votre commande</a>
				 			</div>
			 			</div>
		 			</div> 
		 		</div>
	 		</div>
		</section>
	</div>    
{% endblock %}
