{% extends 'base.html.twig' %}

{% block title %}
	Profil Utilisateur
{% endblock %}

{% block main %}
<div class="section my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dashboard_menu">
                    <ul class="nav nav-tabs flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Dashboard</a>
                      </li>
                      <li class="nav-item">                      
                        <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Détails du Compte</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Mot de passe</a>
                      </li>                      
                      <li class="nav-item">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>Adresses</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Commandes</a>
                      </li>                     
                      {% if is_granted('ROLE_EDITOR') %}
                      <li class="nav-item">
                        <a class="nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="true"><i class="ti-location-pin"></i>Articles</a>
                      </li>
                      {% endif %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout')}}"><i class="ti-lock"></i>Logout</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                <div class="alert alert-success alert-dismissible fade show" role="alert"> message flash
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="tab-content dashboard_content">
                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <div class="card">
                        <div class="card-header">
                            <h3>BONJOUR {{ app.user.firstname|capitalize }} {{ app.user.lastname|upper }}</h3>
                        </div>
                        <div class="card-body">

                            <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#password-tab').trigger('click')">edit your password</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">account details</a>.</p>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Account Details</h3>
                            </div>
                            <div class="card-body">
                                <p>Vous souhaitez changer de compte, <a href="{{ path('login') }}">cliquez ici</a>!</p>
                                <form method="post" name="enq">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>First Name <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.firstname }}" class="form-control" name="name" type="text">
                                         </div>
                                         <div class="form-group col-md-6">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.lastname }}" class="form-control" name="phone">
                                        </div>                                        
                                        <div class="form-group col-md-12">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.email }}" class="form-control" name="email" type="email">
                                        </div>                                        
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Account Details</h3>
                            </div>
                            <div class="card-body">
                                <p>Vous souhaitez votre mot de passe, <a href="{{ path('app_forgot_password_request') }}">cliquez ici</a>!</p>
                                <form method="post" name="enq">
                                    <div class="row">                                        
                                        <div class="form-group col-md-12">
                                            <label>Current Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="password" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>New Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="npassword" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Confirm Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="cpassword" type="password">
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <div class="card">
                        <div class="card-header">
                            <h3>Orders</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#1234</td>
                                            <td>March 15, 2020</td>
                                            <td>Processing</td>
                                            <td>$78.00 for 1 item</td>
                                            <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>#2366</td>
                                            <td>June 20, 2020</td>
                                            <td>Completed</td>
                                            <td>$81.00 for 1 item</td>
                                            <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Articles</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">                        
                                    <table class="table">                                        
                                        <thead>
                                            <tr>                                                
                                                <th>Titre</th>
                                                <th>Chapô</th>
                                                <th>Contenu</th>
                                                <th>Image</th>
                                                <th>Créé le</th>
                                                <th>Modifié le</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>												
                                        {% for article in articles %}                                        
                                            <tr>
                                                <td>{{ article.title }}</td>
                                                <td>{{ article.header }}</td>
                                                <td>{{ article.content }}</td>
                                                <td>{{ article.image }}</td>
                                                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>
                                                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-fill-out btn-sm">Voir</a>
                                                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-fill-out btn-sm">Modifier</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="8">pas d'enregistrement trouvé</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{{ path('article_new') }}">Créé un article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="" class="btn btn-fill-out mb-3">Add new address</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-3 mb-lg-0">
                                    <div class="card-header">
                                        <h3> Your Address # 1 </h3>
                                    </div>
                                    <div class="card-body">
                                        <address> firstname lastname<br>
                                            25 Rue symfony <br>
                                            App n°10 <br>
                                            Paris <br>
                                            75000<br>
                                            France

                                        </address>
                                        <div class="btn-group">
                                            <a href="" class="btn btn-success">Edit</a>
                                            <a href="" class="btn btn-success">Delete</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </div>
    </div>
</div>


			{# <div class="col-md-5">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h6 class="text-right">Modifier votre profil</h6>
					</div>
					<div class="row mt-2">
						<div class="col-md-6">
							<label class="labels">Prénom</label>
                            <input type="text" class="form-control" placeholder="prénom" value="{{ app.user.firstname }}">
                        </div>
						<div class="col-md-6">
							<label class="labels">Nom</label>
                            <input type="text" class="form-control" value="{{ app.user.lastname }}" placeholder="Nom">
                        </div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							<label class="labels">Téléphone</label>
                            <input type="text" class="form-control" placeholder="Téléphone" value="{{ app.user.phonenumber }}">
                        </div>
						<div class="col-md-12">
							<label class="labels">Adresse</label>
                            <input type="text" class="form-control" placeholder="Adresse" value="{{ app.user.address }}">
                        </div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6">
							<label class="labels">Code Postal</label>
                            <input type="text" class="form-control" placeholder="Code Postal" value="{{ app.user.zip }}">
                        </div>
						<div class="col-md-6">
							<label class="labels">Ville</label>
                            <input type="text" class="form-control" value="{{ app.user.city }}" placeholder="Ville">
                        </div>
					</div>
					<div class="mt-5 text-center">
						<button class="btn btn-primary profile-button" type="button">Sauvegarder le profil</button>
					</div>
				</div>
			</div>			
		</div>
	</div> #}
{% endblock %}
