{% extends 'base.html.twig' %}

{% block title %}
	Page d'Accueil
{% endblock %}
{% block carousel %}{% endblock %}
{% block main %}
	<div class="container-fluid text-center" >
		<div id="introhome" class="mt-5 mb-2">
			<img src="{{ asset('images/logo.png') }}" width="75px" height="75px" alt="logo arrondi de l'association">
			<h2>Association OCEAN</h2>
			<P class="fs-5">OCEAN est une association visant à défendre les territoires et espèces océaniques et maritimes.<br>
				Cela passe par l'information des personnes sur les risques et les dangers encourus par ces environnements et leurs habitants.<br> L'association organise régulièrement des actions et des évènements afin de sensibiliser tout un chacun sur ces questions.
			</P>
		</div>
		<div id="actuhome">
			<h2>A la une</h2>
			<div class="row justify-content-evenly">
				{% for article in articles %}
					<div class="col-5 my-3">
						<div class="card h-100">
							<a href="{{path('article_show', {'id' : article.id})}}" class="text-reset text-decoration-none">
								<img src="{{asset('images/articles/' ~ article.image)}}" class="card-img-top" alt="{{ article.title }}"/>
								<div class="card-img-overlay text-white d-flex align-items-center">
									<h3 class="">{{ article.title }}</h3>
								</div>
								<div class="card-body">								
									<p class="card-text">{{ article.header }}</h5>								
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{# <div id="shophome" class="card text-bg-dark">			
			<img src="..." class="card-img" alt="...">
			<div class="card-img-overlay">
				<h5 class="card-title">Boutique</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text">Last updated 3 mins ago</p>
			</div>
		</div> #}
	</div>
{% endblock %}
