{% extends 'base.html.twig' %}

{% block title %}
	Page d'Accueil
{% endblock %}

{% block header %}
	{{ parent() }}
	{% include "headerHome.html.twig" %}
{% endblock %}

{% block main %}
	<div class="container-fluid text-center" id="news">
		<h1>Actualités</h1>
		<div class="row justify-content-evenly">
			{% for article in articles %}
				<div class="col-5 my-5">
					<div class="card h-100">
						<a href="{{path('article_show', {'id' : article.id})}}" class="text-reset">
							<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
								<img
								src="{{asset('images/articles/' ~ article.image)}}" class="img-fluid"/>
								{# <a href="{{path('article_show', {'id' : article.id})}}" class="text-reset"> #}
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">{{ article.title }}</div>
								{# </a> #}
							</div>
							<div
								class="card-body">
								{# <a href="{{path('article_show', {'id' : article.id})}}" class="text-reset"> #}
								<h5 class="card-title">{{ article.header }}</h5>
								<p class="card-text">{{article.content|striptags|length > 100 ? article.content|striptags|slice(0, 101)|split(' ')|slice(0, -1)|join(' ') ~ '…' : article.content|striptags}}</p>
								{# </a> #}
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
