{% extends 'base.html.twig' %} 

{% block title %} 
    Création de compte 
{% endblock %}

{% block main %}

{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<!-- Background image -->
<div id="intro" class="bg-image bg_register shadow-2-strong">
    <div class="d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-5 my-3">
                    {{
                        form_start(registrationForm, {
                            'method': 'post',
                            'attr': {
                                'class': "mask-custom rounded-5 shadow-5-strong p-5",
                                'id': 'page-form'
                            }                            
                        })
                    }}
                    <h1 class="text-center">Créer votre compte:</h1>
                    <div class="row my-4">

                        <!-- Firstname input -->
                        <div class="form-outline col-6 mb-3">
                            {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control', 'id': 'form1Example1'
                            }}) }}
                            <label class="form-label" for="form1Example1">Prénom</label>
                        </div>

                        <!-- Lastname input -->
                        <div class="form-outline col-6 mb-3">
                            {{ form_widget(registrationForm.lastname, {
								'attr': {
									'class': 'form-control', 
									'id': 'form1Example2'}}) }}
                            <label class="form-label" for="form1Example2">Nom</label>
                        </div>

                        <!-- Email input -->
                        <div class="col-12 form-outline mb-3">
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'form1Email'}}) }}
                            <label class="form-label" for="form1Email">Email</label>
                        </div>

                        <!-- Phone input -->
                        <div class="col-12 form-outline mb-3">
                            {{ form_widget(registrationForm.phone_number, {'attr': {'class': 'form-control', 'id': 'form1Phone'
                            }}) }}
                            <label class="form-label" for="form1Phone">Téléphone</label>
                        </div>

                        <!-- Address input -->
                        <div class="col-12 form-outline mb-3">
                            {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control', 'id': 'form1Address'
                            }}) }}
                            <label class="form-label" for="form1Address">Addresse</label>
                        </div>

                        <!-- Zip input -->
                        <div class="form-outline mb-3 col-6">
                            {{ form_widget(registrationForm.zip, {'attr': {'class': 'form-control', 'id': 'form1Zip'
                            }}) }}
                            <label class="form-label" for="form1Zip">Code Postal</label>
                        </div>

                        <!-- City input -->
                        <div class="form-outline mb-3 col-6">
                            {{ form_widget(registrationForm.city, {
                                'attr': {
                                    'class': 'form-control',
                                    'id': 'form1City'
                                }
                            }) }}
                            {{ form_label(registrationForm.city, 'Ville') }}
                        </div>

                    </div>
                    
                    <div class="row my-4">

                        {% for field in registrationForm.plainPassword %}
                            <!-- Password input -->
                            <div class="col-12 form-outline mb-3">
                                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(field) }}
                            </div>
                        {% endfor %}

                    </div>

                    <div class="row my-4">
                        <!-- Checkbox -->
                        <div class="col-12 mb-3">
                            {{ form_row(registrationForm.agreeTerms, {
                                'label': 'j\'accepte les conditions générales d\'utilisation',
                                'attr': {
                                    'class': 'form-check-input',
                                    'id': 'flexCheckDefault'
                            }}) }}
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        Enregistrer
                    </button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
{% endblock %}
