<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark mask-custom" style="z-index: 2000;">
	<div class="container-fluid">
		<!-- Navbar brand -->
		<a class="navbar-brand nav-link" href="{{path('home')}}">
			<img src="{{ asset('images/logo_rond.png') }}" alt="logo arrondi de l'association" width="50" height="50"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbar01">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item active">
					<a class="nav-link mx-2" aria-current="page" href="{{path('home')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="{{path('article_index')}}">Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="{{path('product_index')}}">Boutique</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link mx-2" href="{{path('admin')}}">Admin</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav flex-row align-items-center justify-content-end">
				<li class="nav-item">
					<a class="nav-link mx-2" href="#collapseLink" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseLink">
						<i class="fa-solid fa-search"></i>
					</a>
				</li>
				<li class="nav-item collapse" id="collapseLink">
					<input type="text">
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="{{path('cart_index')}}">
						<i class="fa-solid fa-cart-shopping"></i>
					</a>
				</li>
				<li class="nav-item">
					{% if app.user %}
						<a class="nav-link mx-2" href="{{path('account')}}">
							<i class="fa-solid fa-user"></i>Profil
						</a>
					{% else %}
						<a class="nav-link mx-2" href="{{path('register')}}">
							<i class="fa-solid fa-users"></i>Inscription
						</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if app.user %}
						<a class="nav-link mx-2" href="{{path('logout')}}">
							<i class="fa-solid fa-right-to-bracket"></i>Déconnexion
						</a>
					{% else %}
						<a class="nav-link mx-2" href="{{path('login')}}">
							<i class="fa-solid fa-user"></i>Connexion
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Navbar -->
