<footer>
    <div id="supFooter">
        <ul>
            <li>
                <img src="{{ asset('images/dc6c45ebdaf946dfbce1d9e3e858e3ea.png') }}" alt="logo ocean">
            </li>            
        </ul>
        <ul>
            <li>
                <a href="{{path('home')}}">Accueil</a>
            </li>
            <li>
                <a href="{{path('home')}}">Contact</a>
            </li>
            <li>
                <a href="{{path('home')}}">Mentions légales</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{path('home')}}">RGPD</a>
            </li>
            <li>
                <a href="{{path('home')}}">CGU</a>
            </li>
            <li>
                <a href="{{path('home')}}">Plan du site</a>
            </li>
        </ul>
    </div>
    <div id="subFooter">
        <p>
            &copy; CSilene 
            {{ ("now"|date("Y")) is same as("2022") ? 2022 : ("2022 - " ~ "now"|date("Y")) }}          
        </p>
    </div>
</footer>