{# <nav id="Footer" class="navbar navbar-expand-lg navbar-dark">
    <div id="supFooter" class="flex-column">
        <a class="navbar-brand" href="{{path('home')}}"><img src="{{ asset('images/dc6c45ebdaf946dfbce1d9e3e858e3ea.png') }}" alt="logo ocean"></a>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{path('home')}}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('home')}}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('home')}}">Mentions légales</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{{path('home')}}">RGPD</a>
            </li>
            <li class="nav-item">
                <a href="{{path('home')}}">CGU</a>
            </li>
            <li class="nav-item">
                <a href="{{path('home')}}">Plan du site</a>
            </li>
        </ul>
    </div>
    <div id="subFooter" class="flex-column">
        <p>
            &copy; CSilene 
            {{ ("now"|date("Y")) is same as("2022") ? 2022 : ("2022 - " ~ "now"|date("Y")) }}          
        </p>
    </div>
</nav> #}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section style="background-color: rgba(0, 0, 0, 0.05);"
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Retrouvez-nous sur les réseaux sociaux:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="#!" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>      
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Association OCEAN
          </h6>
          <p><i class="fas fa-home me-3"></i>3 Rue de la plaine </p>
              <p>   91000 Evry</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@ocean.fr
          </p>
          <p><i class="fas fa-phone me-3"></i>01 23 45 67 88</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            engagement
          </h6>
          <p>
            <a href="{{path('home')}}" class="text-reset">Accueil</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Boutique</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Donations</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            information
          </h6>
          <p>
            <a href="#!" class="text-reset">Actualités</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contact</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Plan du site</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            crédits
          </h6>
          <p>
            <a href="#!" class="text-reset">Cgu</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Rgpd</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mentions légales</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div style="background-color: rgba(0, 0, 0, 0.05); height: 25px;">
    <p class="d-flex justify-content-center align-items-center">
        &copy; CSilene 
            {{ ("now"|date("Y")) is same as("2022") ? 2022 : ("2022 - " ~ "now"|date("Y")) }}          
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->