{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block main %}
    <div class="article">
        <div class="wrapper">
            <div class="wrapperText">
                <h1>{{ article.title }}</h1>                
            </div>
        </div>       
        <div class="articleText">
            <h4 class="introduction">{{ article.header }}</h4>
            <p>{{ article.content }}</p>
        </div>
    </div>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>{{ article.header }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    <a href="{{ path('article_index') }}">Retour aux Actualités</a>
{% endblock %}
